---
---
<div id="commentOverlay" class="comment-overlay" onclick="hideComments()"></div>

<div id="commentSheet" class="comment-sheet">
  <div class="drag-handle"></div>
  <div class="sheet-header">
    <div class="header-content">
      <h3>Komentar</h3>
      <button onclick="hideComments()"><span class="material-icons">close</span></button>
    </div>
  </div>
  
  <div id="commentList" class="comment-body"></div>

  <div class="comment-footer">
    <input type="text" id="commentInput" placeholder="Tulis komentar..." />
    <button id="sendCommentBtn"><span class="material-icons">send</span></button>
  </div>
</div>
