---
---
<div class="mini-player" id="miniPlayer" style="display: none;">
  <img src="" id="mini-cover" />
  <div class="player-info">
    <h4 id="mini-title">Title</h4>
    <p id="mini-artist">Artist</p>
    <div class="progress-container" id="progress-container">
      <div class="progress" id="progress"></div>
    </div>
  </div>
  <div class="player-controls">
    <span class="material-icons" id="play-btn">play_arrow</span>
  </div>
</div>
