---
---
<div id="reaction-menu" class="reaction-menu">
  <span class="reaction-emoji" onclick="sendReaction('👍')">👍</span>
  <span class="reaction-emoji" onclick="sendReaction('❤️')">❤️</span>
  <span class="reaction-emoji" onclick="sendReaction('😂')">😂</span>
  <span class="reaction-emoji" onclick="sendReaction('😮')">😮</span>
  <span class="reaction-emoji" onclick="sendReaction('😢')">😢</span>
  <span class="reaction-emoji" onclick="sendReaction('🙏')">🙏</span>
</div>

