---
---
<div id="delete-overlay" class="delete-overlay">
  <div class="delete-menu">
    <p>Hapus pesan ini?</p>
    <div class="delete-menu-btns">
      <button id="confirm-delete">Hapus</button>
      <button class="btn-cancel" onclick="document.getElementById('delete-overlay').style.display='none'">Batal</button>
    </div>
  </div>
</div>
