---
---
<div class="services-area">
  <span class="label-small">Syarat & ketentuan</span>
  <div class="services-list">
    <div class="service-item"><div class="square-icon"></div>MONETIZE</div>
    <div class="service-item"><div class="square-icon"></div>REWARDS</div>
    <div class="service-item"><div class="square-icon"></div>ADS</div>
  </div>
</div>

<style is:global>
  /* Services */
  .services-area {
    margin-top: 50px;
  }

  .services-list {
    display: flex;
    gap: 25px;
    margin-top: 18px;
  }

  .service-item {
    font-size: 10px;
    font-weight: 800;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--text-muted);
  }

  .square-icon {
    width: 7px;
    height: 7px;
    background: var(--accent-blue);
  }
</style>
