---
---
<div class="sidebar-overlay" id="sidebarOverlay"></div>

<div class="sidebar" id="sidebar">
  <div class="sidebar-header">
    <h2>Menu</h2>
    <span class="material-icons" id="closeSidebar" style="cursor: pointer;">close</span>
  </div>
  <a href="#" class="nav-item" data-category="top-singer">
    <span class="material-icons">mic_external_on</span> Top Singer
  </a>
  <a href="#" class="nav-item" data-category="top-song">
    <span class="material-icons">music_note</span> Top Song
  </a>
  <a href="#" class="nav-item" data-category="week-song">
    <span class="material-icons">calendar_today</span> Week Song
  </a>
</div>

<div class="popup-overlay" id="dataPopup">
  <div class="popup-content">
    <div class="popup-header">
      <h3 id="popupTitle">Judul Pop-up</h3>
      <span class="material-icons" id="closeDataPopup" style="cursor: pointer;">close</span>
    </div>
    <div class="popup-body" id="popupBody">
      </div>
  </div>
</div>
