---
---
<div class="sidebar-overlay" id="sidebarOverlay"></div>

<div class="sidebar" id="sidebar">
  <div class="sidebar-header">
    <h2> Menu</h2>
    <span class="material-icons" id="closeSidebar" style="cursor: pointer;">close</span>
  </div>
  <a href="#" class="nav-item" data-category="singer">
    <span class="material-icons">mic</span> Singer
  </a>
  <a href="#" class="nav-item" data-category="viral">
    <span class="material-icons">auto_awesome</span> Viral
  </a>
  <a href="#" class="nav-item" data-category="top">
    <span class="material-icons">star</span> Top
  </a>
</div>
