---
import Layout from '../layouts/Layout.astro';
import ChatHeader from '../components/chat/ChatHeader.astro';
import ChatSidebar from '../components/chat/ChatSidebar.astro';
import ChatMessages from '../components/chat/ChatMessages.astro';
import ChatInput from '../components/chat/ChatInput.astro';
import ChatModals from '../components/modals/ChatModals.astro';
---

<Layout title="HopeTalk Globe">
  <script is:inline src="https://cdn.jsdelivr.net/npm/livekit-client/dist/livekit-client.umd.min.js"></script>

  <audio id="send-sound" src="/asets/sound/send.mp3" preload="auto"></audio>
  <audio id="receive-sound" src="/asets/sound/receive.mp3" preload="auto"></audio>
  <audio id="ringtoneSound" src="asets/sound/call.wav" preload="auto" loop></audio>

  <div class="telegram-chat">
    <ChatHeader />
    <ChatSidebar />
    <ChatMessages />
    <ChatInput />
  </div>

  <ChatModals />

  <script src="../scripts/chat.js"></script>

</Layout>

<style is:global>
/* CSS Global yang mengatur pondasi Layout App */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Poppins", sans-serif;
  background: #e5ddd5;
  display: flex;
  flex-direction: column;
}
.telegram-chat {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-image: url("../asets/png/chat.png");
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}
.private-mode.telegram-chat {
  background-image: none;
  background-color: #f0f2f5;
}
* { -webkit-tap-highlight-color: transparent; outline: none; }
</style>
