---
import Layout from '../layouts/Layout.astro';

// Import semua komponen yang baru kita buat
import SkeletonLoader from '../components/SkeletonLoader.astro';
import AdBanner from '../components/AdBanner.astro';
import Header from '../components/Header.astro';
import MenuCards from '../components/MenuCards.astro';
import Modals from '../components/Modals.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="HelloHope-web">
  
  <SkeletonLoader />
  <AdBanner />

  <div class="loader"></div>
  <audio id="audio-player"></audio>
  <iframe src="/music" style="display: none"></iframe>
  <div class="grid-bg"></div>

  <div class="container" style="display: none;">
    <Header />
    <MenuCards />
  </div>

  <Modals />
  <Contact />

  <script src="../scripts/main.js"></script>

</Layout>
