---
// 1. IMPORT COMPONENTS
import Layout from '../layouts/Layout.astro';
import Header from '../components/lobby/Headerlobby.astro';
import Hero from '../components/lobby/Herolobby.astro';
import RoomSection from '../components/lobby/RoomSectionlobby.astro';
import FabCreate from '../components/lobby/FabCreatelobby.astro';
import CreateRoomModal from '../components/lobby/CreateRoomModallobby.astro';

// 2. IMPORT CSS GLOBAL LOBBY
import '../styles/lobby.css';
---

<Layout title="HypeVoice - Lobby">
  <div class="lobby-container">
    <Header />
    <Hero />
    <RoomSection />
  </div>
  
  <FabCreate />
  <CreateRoomModal />

  <script src="../scripts/lobby.js"></script>
</Layout>
