---
// 🔥 Panggil CSS lu di sini
import '../styles/login.css'; 

import Layout from '../layouts/Layout.astro';
import Header from '../components/auth/Headerlog.astro';
import FormInputs from '../components/auth/FormInputslog.astro';
import FormActions from '../components/auth/FormActionslog.astro';
import SocialLogin from '../components/auth/SocialLoginlog.astro';
---

<Layout title="Welcome to HopeHype - Login">
  <link rel="stylesheet" href="/css/toast.css" />
  <script is:inline src="/js/toast.js"></script>

  <div class="login-wrapper">
    <form class="form" id="mainForm">
      <Header />
      <FormInputs />
      
      <FormActions />
      <SocialLogin />
    </form>
  </div>

  <script src="../scripts/login.js"></script>
</Layout>
