---
// 🔥 Panggil CSS lu di sini bro! Sesuaikan nama filenya kalau beda ya
import '../styles/login.css'; 

import Layout from '../layouts/Layout.astro';
import Header from '../components/auth/Headerlog.astro';
import FormInputs from '../components/auth/FormInputslog.astro';
import FormActions from '../components/auth/FormActionslog.astro';
import SocialLogin from '../components/auth/SocialLoginlog.astro';
---

<Layout title="Welcome to HopeHype - Login">
  <link rel="stylesheet" href="/css/toast.css" />
  <script is:inline src="/js/toast.js"></script>
  <script is:inline src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>

  <div class="login-wrapper">
    <form class="form" id="mainForm">
      <Header />
      <FormInputs />
      
      <div class="cf-turnstile" data-sitekey="0x4AAAAAADBAjYsZNqc5wQAI" style="display: flex; justify-content: center; margin-bottom: 15px;"></div>

      <FormActions />
      <SocialLogin />
    </form>
  </div>

  <script src="../scripts/login.js"></script>
</Layout>
