---
// 1. IMPORT COMPONENTS
import Layout from '../layouts/Layout.astro';
import Sidebar from '../components/room/Sidebarroom.astro';
import Modals from '../components/room/Modalsroom.astro';
import Header from '../components/room/Headerroom.astro';
import Stage from '../components/room/Stageroom.astro';
import ChatBox from '../components/room/ChatBoxroom.astro';
import Footer from '../components/room/Footerroom.astro';
import GiftDrawer from '../components/room/GiftDrawerroom.astro';
import GiftAnimOverlay from '../components/room/GiftAnimOverlayroom.astro';

// 2. IMPORT CSS GLOBAL ROOM
import '../styles/voice.css';
---

<Layout title="HypeVoice - Room">
  <script is:inline src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
  <script is:inline src="https://cdn.jsdelivr.net/npm/livekit-client@1.15.12/dist/livekit-client.umd.min.js"></script>
  
  <Sidebar />
  <Modals />

  <div class="app-container">
    <Header />
    <Stage />
    <ChatBox />
    <Footer />
  </div> 

  <GiftDrawer />
  <GiftAnimOverlay />

  <script src="../scripts/voice.js"></script>
</Layout>
