---
---
<div class="ad-banner-container">
  <div class="ad-slider">
    <img src="/asets/gif/iklan1.gif" alt="Iklan PRO" class="ad-slide">
    <img src="/asets/gif/iklan2.gif" alt="Iklan HopeTalk" class="ad-slide">
    <img src="/asets/gif/iklan3.gif" alt="Iklan Sawer" class="ad-slide">
    <img src="/asets/gif/iklan4.gif" alt="Install Aplikasi" class="ad-slide" id="installPwaAd" style="cursor: pointer;">
  </div>
</div>
