---
---
<div id="skeleton-screen" class="skeleton-wrapper">
  <div class="skeleton-main-card-ui">
    <div class="skel-header">
      <div style="display: flex; align-items: center;">
        <div class="skel-avatar shim"></div>
        <div class="skel-username shim"></div>
      </div>
      <div style="width: 30px; height: 30px; border-radius: 50%;" class="shim"></div>
    </div>
    <div class="skel-grid">
      <div class="skel-main-card shim"></div>
      <div class="skel-main-card shim"></div>
    </div>
    <div style="display: flex; justify-content: space-between; gap: 10px;">
      <div style="width: 100px; height: 34px; border-radius: 12px;" class="shim"></div>
      <div style="width: 80px; height: 34px; border-radius: 12px;" class="shim"></div>
    </div>
    <div class="skel-bar shim"></div>
    <div class="skel-bar shim"></div>
  </div>
</div>
