---
---
<div id="commentModal">
  <div class="comment-box">
    <div class="comment-header">
      Komentar
      <button class="comment-close">×</button>
    </div>
    <div class="comment-list"></div>
    <div class="comment-input-wrap">
      <input type="text" class="comment-input" placeholder="Tulis komentar..." />
    </div>
  </div>
</div>