---
---
<div class="gallery" id="mainGallery">
  <div class="loading-state" style="color: white; text-align: center; grid-column: 1/-1; padding: 50px;">
    <p>Memuat karya terbaru...</p>
  </div>
</div>
