---
---
<div id="giftSheet" class="gift-sheet">
  <div class="gift-sheet-overlay" onclick="closeGiftSheet()"></div>
  
  <div class="gift-sheet-content">
    <div class="sheet-handle"></div>

    <div class="gift-header">
      <span>Kirim hadiah untuk mendukung kreator</span>
      <span class="gift-close-x" onclick="closeGiftSheet()">&times;</span>
    </div>

    <div class="gift-grid">
      <div class="gift-item" data-amount="10" onclick="selectGift(this, 10, '/asets/png/gift1.png')">
        <div class="gift-img-container">
          <img src="/asets/png/gift1.png" class="img-gift" alt="Gift 1" />
        </div>
        <span class="gift-name">troi</span>
        <span class="gift-price">
          <img src="/asets/svg/koin.svg" class="img-coin-inline" /> 10
        </span>
      </div>

      <div class="gift-item" data-amount="20" onclick="selectGift(this, 20, '/asets/png/gift2.png')">
        <div class="gift-img-container">
          <img src="/asets/png/gift2.png" class="img-gift" alt="Gift 2" />
        </div>
        <span class="gift-name">fox</span>
        <span class="gift-price">
          <img src="/asets/svg/koin.svg" class="img-coin-inline" /> 20
        </span>
      </div>

      <div class="gift-item" data-amount="20" onclick="selectGift(this, 20, '/asets/png/gift3.png')">
        <div class="gift-img-container">
          <img src="/asets/png/gift3.png" class="img-gift" alt="Gift 3" />
        </div>
        <span class="gift-name">panda</span>
        <span class="gift-price">
          <img src="/asets/svg/koin.svg" class="img-coin-inline" /> 20
        </span>
      </div>

      <div class="gift-item" data-amount="25" onclick="selectGift(this, 25, '/asets/png/gift4.png')">
        <div class="gift-img-container">
          <img src="/asets/png/gift4.png" class="img-gift" alt="Gift 4" />
        </div>
        <span class="gift-name">Rabbit</span>
        <span class="gift-price">
          <img src="/asets/svg/koin.svg" class="img-coin-inline" /> 25
        </span>
      </div>

      <div class="gift-item" data-amount="100" onclick="selectGift(this, 100, '/asets/png/gift5.png')">
        <div class="gift-img-container">
          <img src="/asets/png/gift5.png" class="img-gift" alt="Gift 5" />
        </div>
        <span class="gift-name">Catglow</span>
        <span class="gift-price">
          <img src="/asets/svg/koin.svg" class="img-coin-inline" /> 100
        </span>
      </div>
    </div>
    
    <div class="gift-footer">
      <div class="user-coins-info">
        <img src="/asets/svg/koin.svg" class="img-coin-footer" />
        <span id="giftUserCoins">0</span>
        <span style="color: rgba(255,255,255,0.3); margin-left: 5px;">&rsaquo;</span>
      </div>
      <button id="sendGiftBtn" class="btn-send-gift" disabled onclick="processGiftTransaction()">
        Kirim
      </button>
    </div>
  </div>
</div>
